table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: rgb(177, 175, 175);
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
.botao{
    margin-top: 10px;
}